$Very-light-pink: #c7c7c7;
$Text-input-field: #f7f7f7;
$Hospital-green: #acd9b2;
$White: #ffffff;
$black: #000000;
$sm: 1.4rem;
$md: 1.6rem;
$lg: 1.8rem;
$xl: 2.4rem;

@mixin logo__yard {
    width: 15rem;
    justify-self: center;
    display: none;
}

@mixin boton__verde {

    background-color: $Hospital-green;
    width: 100%;
    height: 6rem;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: $lg;
    color: $White;
    font-weight: 700;
}

@mixin titulo {
    font-size: $xl;
    text-align: center;
    font-weight: 700;
}

@mixin parrafo {
    color: $Very-light-pink;
    font-size: $md;
    font-weight: 300;
    text-align: center;
}

@mixin logo__email {
    width: 9rem;
    justify-self: center;

}